.navbar{
    border-radius: 0;
}

.navbar-brand{
    font-family:Shrikhand,cursive;
}

.row.grid:nth-child(1){
    background:lavenderblush;
}
.row.grid:nth-child(even){
    background:lavender;
}

.glyphicon{
    pointer-events: none;
}

.side-nav-links {
    width: 200px;
    position: fixed;
    top: 70px;
    left: 15px;
}
/*
body {
    background: white url("../images/background.png");
}
*/

.authors{
    font-size: 16pt;
    font-weight: bold;
}

.accounts-table td{
    padding:10px;
}
.accounts-table .header-row{
    border-bottom: 1px solid #dadada;
}

.paper-links{
    text-decoration: none !important;
    font-size: 20pt;
    color: cadetblue;
}

.paper-item{
    padding: 10px;
}
