.navbar{
    border-radius: 0;
}

.navbar-brand{
    font-family:Shrikhand,cursive;
}

.row.grid:nth-child(1){
    background:lavenderblush;
}
.row.grid:nth-child(even){
    background:lavender;
}

.glyphicon{
    pointer-events: none;
}
/*
body {
    background: white url("../images/background.png");
}
*/
