{% extends 'common/login_base.html' %}
{% block title %}SAM2017- Login{% endblock %}


<style>
#divbox{
margin-top:200px;
margin-left:500px;
width:350px;
background-color:#EFFBF5;
border: 2px solid #086D00;
}
</style>
{% block body %}
{% block content %}
		{% if form.errors %}
	        <p>Your username and password didn't match. Please try again.</p>
	    {% endif %}

	{% if next %}
		{% if user.is_authenticated %}
			<p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
		{% else %}
			<p>Please login to see this page.</p>
		{% endif %}
	{% endif %}
	    <form method="post" class= "form-horizontal" action="{% url 'SAM2017.views.login' %}">	{% csrf_token %}

							<p>
								<table>
									<tr>
										<td>{{ form.username.label_tag }}</td>
										<td>{{ form.username }}</td>
									</tr>
									<tr>
										<td>{{ form.password.label_tag }}</td>
										<td>{{ form.password }}</td>
									</tr>
								</table>
							</p>
								<p>
									<input type="submit" value="login" class="btn btn-primary" />
									<a  class="btn btn-default" href='../register'>Register</a>
								</p>
                           {% comment %}  <div class="container container-fluid">
                                    <div class ="form-group">
                                        <label for="email">Email</label>
                                        <input class="form-control" id="email" value="{{ form.username.value | default:'' }}" name="title" class="form-control input-md" type="text"  required></br>
                                    </div>
                                    <div class ="form-group">
                                        <label for="password">Password</label>
                                        <input class="form-control" id="password" value="{{ form.password.value }}" type="text" class="form-control input-md" required ></br>
                                    </div>

                                    <button id="submit" name="submit" class="btn btn-primary">Login </button>
                                    <button id="cancel" name="cancel" class="btn btn-success" onclick="window.location.href='/SAM2017/register/'">Register</button>
                                </div>{% endcomment %}
							<input type="hidden" name="next" value="{{ next }}" />
						</form>

	{% endblock %}

{% endblock %}
