{% extends 'common/base_pcc.html' %}
{% block title %}SAM2017- Welcome{% endblock %}
{% block navbar_index %}active{% endblock %}

{% block body %}
             {% block side_nav %}
<nav class="sidenavpcc" style="width:12%;position: absolute">
    <a href="/paper_assignment_pcc/" class="list-group-item" id="link_mbr">Assign Papers</a>
    <a href="/view_requests_pcc/" class="list-group-item active" id="link_stat">Review Requests</a>
    <a href="/promote_to_pcm/" class="list-group-item" id="link_promote">Promote Authors</a>
<a href="/view_papers_to_review/" class="list-group-item" id="link_reiew">Review Rate</a>
</nav>
{% endblock %}
    {% block maincontent %}
         <div class="container" style="margin-left: 15%;">

<div class="paper-item">

    <h1>{{ paper.title }}</h1>
    <h3>Description : {{ paper.description }}</h3>
    <p>By : {{ paper.authors.first_name }} {{ paper.authors.last_name }}</p>
    {% for requester in requesters %}
    <p>PCM ID: {{ requester.pcm_id }}
    <button type="button" onclick="window.location.href='/paper-approve/{{ requester.id }}/'">Approve</button>
    <button type="button" onclick="window.location.href='/paper-reject/{{ requester.id }}/'">Reject</button>
    </p>
    {% endfor %}

</div></div>
        {% endblock %}
{% endblock %}
