{% extends 'common/base_pcc.html' %}
{% block title %}SAM2017- Welcome{% endblock %}
{% block navbar_index %}active{% endblock %}

{% block body %}
        <h1>Papers Assignment: </h1>
            {% for paper in papers %}
          <blockquote>
              <a class="paper-links" href="/paper_selected_to_assign/{{ paper.id }}">{{ paper.title }}</a>
              <br/>
              <p>{{paper.authors.first_name}} {{paper.authors.last_name}}</p>
          </blockquote>
    {% endfor %}

{% endblock %}
