{% extends 'common/base_pcm.html' %}
{% block title %}SAM2017- Welcome{% endblock %}
{% block navbar_index %}active{% endblock %}

{% block body %}
  {% block side_nav %}
<nav class="sidenavpcc" style="width:12%;position: absolute">
   <a href="/selected_to_review_pcm/" class="list-group-item active" id="link_mbr">Review Papers</a>
    <a href="/paper_selection_pcm/" class="list-group-item" id="link_stat">Select Paper to Review</a>
</nav>
{% endblock %}
    {% block maincontent %}
        <div class="container" style="margin-left: 15%;">
    <div class="container container-fluid">

        <h3>Paper Details</h3>
        <p>Paper title : {{ paper.title }}</p>
        <p>Paper Description : {{ paper.description }}</p>
        <p>Paper Author : {{ author.first_name }} {{ author.last_name }}</p>

        <div>
        <ul class="list-group">

            <li class="list-group-item">
                <div>
                <h4>Reviewer Name: {% for user in pcm %} {% if user.id == review.reviwer_id %}{{ user.first_name }} {{ user.last_name }}{% endif %}{% endfor %}</h4>
                <p>Review:</p>
                <blockquote>{{review.review}}</blockquote>
                 <p>Rating: {{ review.rating }}</p>
                </div>
            </li>

        </ul>
        </div>
</div>
    </div>{% endblock %}
{% endblock %}