{% extends 'common/base_pcm.html' %}
{% block title %}SAM2017- Welcome{% endblock %}
{% block navbar_index %}active{% endblock %}

{% block body %}
  {% block side_nav %}
<nav class="sidenavpcc" style="width:12%;position: absolute">
   <a href="/selected_to_review_pcm/" class="list-group-item" id="link_mbr">Review Papers</a>
    <a href="/paper_selection_pcm/" class="list-group-item active" id="link_stat">Select Paper to Review</a>
</nav>
{% endblock %}
    {% block maincontent %}
        <div class="container" style="margin-left: 15%;">

    <legend>Paper Details</legend>
    <p><strong>Paper title</strong> : {{ paper.title }}</p>
    <p><strong>Paper Description</strong> : {{ paper.description }}</p>
    <p><strong>Paper Author</strong> : {{ author.first_name }} {{ author.last_name }}</p>
    {% if user_type_pcc %}

    {% else %}
        {% if paper_selected %}
            <h4>You have already requested to review this paper. Decision is pending with PCC</h4>
        {% else %}
            {% if user_id == paper.authors_id%}
            {% else %}
                <button type="submit" class="btn btn-primary" onclick="window.location.href='/request_to_review/{{ paper.id }}'">Request to Review</button>
            {% endif %}
        {% endif %}
    {% endif %}</div>{% endblock %}
{% endblock %}