{% extends 'common/base_pcm.html' %}
{% block title %}SAM2017- Welcome{% endblock %}
{% block navbar_index %}active{% endblock %}
{% block body %}
{% block content %}
{% block side_nav %}
<nav class="sidenavpcc" style="width:12%;position: absolute">
   <a href="/selected_to_review_pcm/" class="list-group-item" id="link_mbr">Review Papers</a>
    <a href="/paper_selection_pcm/" class="list-group-item" id="link_stat">Select Paper to Review</a>
</nav>
{% endblock %}
    {% block maincontent %}
        <div class="container" style="margin-left: 15%;">
    <div class="jumbotron">
        <h2>Welcome PCM to SAM2017 </h2>
        <p>International Conference on Software Architecture Mining</p>
        <p>Feb 2017</p>
    </div>

{% endblock %}

</div>{% endblock %}
{% endblock %}