{% extends 'common/login_base.html' %}
{% block title %}SAM2017- Register{% endblock %}


{% block body %}
{% block content %}
<form action="/register/" class="form-horizontal" method="post">{% csrf_token %}

	<p>
        {{ form.non_field_errors }}
        <table>
            {% for field in form %}
            <tr>
                <td>{{ field.label_tag }}</td>
                <td>{{ field }}</td>
                <td>{{ field.errors }}</td>
            </tr>
            {% endfor %}
        </table>
    </p>

    <p>
        <input class="myButton" type="submit" value="Register" />
    </p>

    <input type="hidden" name="next" value="{{ next }}" />
</form>
{% endblock %}
{% endblock %}
{% comment %}
<html>
<head>
<title>SAM 2017 Registration</title>
</head>
<style>
#divbox{
margin-top:100px;
margin-left:350px;
width:450px;
background-color:#EFFBF5;
border: 2px solid #086D00;
}
</style>
<body>

{% block content %}
<div id="divbox">
<form action="/register/" method="post">{% csrf_token %}
    <div class="header1"><h3>Registration</h3></div>
	<p>
        {{ form.non_field_errors }}
        <table>
            {% for field in form %}
            <tr>
                <td>{{ field.label_tag }}</td>
                <td>{{ field }}</td>
                <td>{{ field.errors }}</td>
            </tr>
            {% endfor %}
        </table>
    </p>
    <p>
        <input class="myButton" type="submit" value="Register" />
    </p>
    <input type="hidden" name="next" value="{{ next }}" />
</form>
</div>

{% endblock %}
</body>
</html>{% endcomment %}


