{% extends 'common/base_pcc.html' %}
{% block title %}SAM2017-View Papers{% endblock %}
{% block navbar_view-papers %}active{% endblock %}

{% block body %}
             {% block side_nav %}
<nav class="sidenavpcc" style="width:12%;position: absolute">
    <a href="/paper_assignment_pcc/" class="list-group-item active" id="link_mbr">Assign Papers</a>
    <a href="/view_requests_pcc/" class="list-group-item" id="link_stat">Review Requests</a>
    <a href="/promote_to_pcm/" class="list-group-item" id="link_promote">Promote Authors</a>
<a href="/view_papers_to_review/" class="list-group-item active" id="link_reiew">Review Rate</a>
</nav>
{% endblock %}
    {% block maincontent %}
         <div class="container" style="margin-left: 15%;">

<div class="container container-fluid">
                 <form method="post" action="/review_rate_pcc/{{paper.id}}/" >{% csrf_token %}

                     <table>
            {% for field in form %}
            <tr>
                <td>{{ field.label_tag }}</td>
                <td>{{ field }}</td>
                <td>{{ field.errors }}</td>
            </tr>
            {% endfor %}
        </table>
                    <button  class="btn btn-primary" type="submit" >Review and Rate</button>
                    <button  class="btn btn-primary" type="button" onclick="window.location.href='/paper-details/{{ paper.id }}/'" >Cancel</button>
                </form>


</div>
        </div>
        {% endblock %}
{% endblock %}
