{% extends 'common/base.html' %}
{% block title %}SAM2017-View Papers{% endblock %}
{% block navbar_view-papers %}active{% endblock %}

{% block body %}
<div class="container container-fluid">
    {%if papers %}
        <ul class="list-group">
        {%for paper in papers%}
            <li class="list-group-item">
                <div>
                <h2><a href="/paper_details_author/{{paper.id}}/">{{paper.title}}</a></h2>

                <blockquote>{{paper.description}}</blockquote>

                    <a href="/doc-uploads/{{ paper.file }}" class="btn btn-primary" target='_blank'>Download Paper</a>
                </div>
            </li>
        {% endfor %}
        {%if ratings %}
                   {% for key,value in ratings.items %}{{ value }}{% endfor %}
        {% endif %}
        </ul>
    {% else %}
        <p>No papers submitted for the workshop yet </p>
    {% endif %}
</div>
{% endblock %}
    {% comment %}<a href="{% url 'SAM2017:upload_paper' %}">Submit a paper</a>{% endcomment %}
